@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400;1,700&family=Roboto&display=swap');

body{ 
    font-family: 'lato', 'sans-serif';
background-color:rgb(33, 108, 173);
font: normal 20pt Arial;
}
 
header {
color: white;
text-align: center;
}

section {
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgb(63, 59, 59);

}

select#flista{
    width: 150px;
}

footer {
color: white;
text-align: center;
font-style: italic;
}


